@page

@using StudentsTesting1.Pages;

@model StudentsTesting1.Pages.LoginModel
@{
    ViewData["Title"] = "Вхід в систему";
}

@section Navigation{ 

}

<h2>Вхід в систему</h2>

<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label >Введіть логін</label><br />
            <input type="text" name="login" id="login" required/>
            <span asp-validation-for="login" />
        </div>
        <div class="form-group">
            <label >Введіть пароль</label><br />
            <input type="password" name="Password" id="Password" required/>
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" asp-page-handler="Login" value="Увійти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
<b>@Model.error</b>
